<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="kulalaContainer">
        <extension type="Interception"/>
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Kulala.EF.Model.KulalaDBContext, Kulala.EF.Model"/>
        <register type="Kulala.Learning.Interface.IUserService, Kulala.Learning.Interface" mapTo="Kulala.Learning.Service.UserService, Kulala.Learning.Service">
          <interceptor type="InterfaceInterceptor"/>
			<!--<interceptionBehavior type="Kulala.Learning.Common.LogBeforeBehavior, Kulala.Learning.Common"/>
			<interceptionBehavior type="Kulala.Learning.Common.LogAfterBehavior, Kulala.Learning.Common"/>-->
        </register>
        <!--<register type="Ruanmou.Bussiness.Interface.ICommodityService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CommodityService, Ruanmou.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
        </register>
        <register type="Ruanmou.Bussiness.Interface.IUserService,Ruanmou.Bussiness.Interface" mapTo="Kulala.Learning.Service.UserService, Kulala.Learning.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Ruanmou.Project.AOP.LogBeforeBehavior, Ruanmou.MVC5"/>
          <interceptionBehavior type="Ruanmou.Project.AOP.LogAfterBehavior, Ruanmou.MVC5"/>
        </register>
        <register type="Ruanmou.Bussiness.Interface.ICompanyService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CompanyService, Ruanmou.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
        </register>
        <register type="Ruanmou.Bussiness.Interface.ICategoryService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CategoryService, Ruanmou.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
        </register>
        <register type="Ruanmou.Remote.Interface.ISearchService,Ruanmou.Remote.Interface" mapTo="Ruanmou.Remote.Service.SearchService,Ruanmou.Remote.Service">
          <interceptor type="InterfaceInterceptor"/>
        </register>
        <register type="Ruanmou.Remote.Interface.ISearchService,Ruanmou.Remote.Interface" mapTo="Ruanmou.Remote.Service.SearchServiceUpdate,Ruanmou.Remote.Service" name="update">
          <interceptor type="InterfaceInterceptor"/>
          --><!--<constructor>
          </constructor>--><!--
        </register>-->
      </container>

      <!--<container name="ruanmouContainerGeneric">
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Ruanmou.EF.Model.JDDbContext, Ruanmou.EF.Model"/>
        <register type="Ruanmou.Bussiness.Interface.IBaseService`1,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.BaseService`1, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICategoryService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CategoryService, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICommodityService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CommodityService, Ruanmou.Bussiness.Service"/>
      </container>-->
    </containers>
  </unity>
</configuration>